<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Employee Management System</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div>
      <div class="text-center" style="background-color:	#4682B4">
        <h1 class="text-white">{{ title }}</h1>
      </div>
      <a class="list" routerLink="employees">Employee List</a>
      &nbsp;
      <a class="addEmployee" routerLink="addEmployee">Add Employee</a>
      <router-outlet class="container"></router-outlet>
    </div>
  </body>
</html>
