<div class="container">
  <h2 class="text-center">Employee Details</h2>
  <br />
  <div *ngIf="employee" align="center">
    <div>
      <label id="id" name="id" class="font-weight-bold">ID:</label
      >&nbsp;&nbsp;&nbsp;{{ employee.id }}
    </div>

    <div>
      <label id="name" name="name" class="font-weight-bold">Name:</label
      >&nbsp;&nbsp;&nbsp;{{ employee.name }}
    </div>

    <div>
      <label id="location" name="location" class="font-weight-bold"
        >Location:</label
      >&nbsp;&nbsp;{{ employee.location }}
    </div>

    <div>
      <label id="email" name="email" class="font-weight-bold">Email:</label
      >&nbsp;&nbsp;&nbsp;{{ employee.email }}
    </div>

    <div>
      <label id="mobile" name="mobile" class="font-weight-bold">Mobile:</label
      >&nbsp;&nbsp;{{ employee.mobile }}
    </div>
    <br />
    <a routerLink="/employees"><button class="btn btn-info">Back</button></a>
  </div>

  <div *ngIf="!employee" class="text-center text-danger">
    Employee not found! Please go back and select employee
    <br />
    <a routerLink="/employees"><button class="btn btn-info">Back</button></a>
  </div>
</div>
